@font-face {
    font-family: 'Essai';
    src: url('../fonts/Essai.woff2') format('woff2'),
        url('../fonts/Essai.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Magical Stylish';
    src: url('../fonts/MagicalStylishSansSerifDemo.woff2') format('woff2'),
        url('../fonts/MagicalStylishSansSerifDemo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body{
    margin: 0 ;
    padding: 0 ;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px ;
    line-height: 1.7 ;
}

button, img{
    display: inline-block ;
}

.btn-pulse{
    box-shadow: 0 0 0 0 hsl(339.8, 100%, 36.1%) ;
    animation: 3s infinite buttonPulse ease-out;
}

.btn-pulse:hover{
    animation: none ;
}

@keyframes buttonPulse{
    0% {
        box-shadow: 0 0 0 0 hsla(339.8, 100%, 36.1%, .6);
    }
    50% {
        box-shadow: 0 0 0 12px hsla(244, 44%, 19%, 0);
    }
    100% {
        box-shadow: 0 0 0 12px hsla(244, 44%, 19%, 0);
    }
}

button, .btn-style{
    display: inline-block ;
    color: #fff;
    background-color: #d63031;
    border: 0;
    padding: .8em 1.67em;
    line-height: 1.5em !important;
    font-size: 1rem;
    font-weight: bold ;
    cursor: pointer ;
    margin-top: 10px ;
    transition: .2s all ease-in ;
    text-decoration: none ;
}

button:hover, .btn-style:hover{
    background-color: #1e1b46;
}

img{
    width: 100% ;
    vertical-align: middle;
}

header{
    margin-bottom: 60px ;
    background-color: #e8dfd7;
    padding-bottom: 60px ;
}

header #menu{
    display: flex ;
    justify-content: space-between ;
    align-items: center ;
    padding: 30px 40px ;
    margin-bottom: 18px ;
}

.site-title a{
    margin: 0 ;
    font-family: 'Magical Stylish', 'Arial' ;
    font-size: 30px ;
    line-height: 1.2 ;
    color: #2b2b3b ;
    font-weight: bold ;
    opacity: 0.8 ;
    text-decoration: none ;
}

nav ul{
    list-style: none ;
    padding: 0 ;
    margin: 0 ;
}

nav ul li{
    display: inline-block ;
}

nav ul li a{
    position: relative ;
    display: inline-block ;
    padding: 5px ;
    color: #333352 ;
    text-transform: uppercase ;
    letter-spacing: .15em ;
    text-decoration: none ;
    font-weight: 500 ;
    transition-duration: 1s ;
}

nav ul li a:after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 1px;
    margin: 4px 0 0;
    background-color: #333352 !important;
    left: 2px;
    opacity: 0;
    transition-duration: 1s ;
}

nav ul li a.active:after, nav ul li a:hover:after{
    width: calc(96%);
    opacity: 1 !important;
}

.title-text{
    font-family: 'Magical Stylish', 'Arial' ;
    font-size: 30px ;
    line-height: 1.3 ;
    color: #333352 ;
    font-weight: 300 ;
}

#head-content{
    width: 85% ;
    margin: auto ;
}

#main-content{
    width: 85% ;
    margin: auto ;
}

.project-container{
    margin: 100px 0 50px 0 ;
}

.project-area{
    display : flex ;
    align-items: center ;
    position: relative;
    flex-wrap: nowrap ;
    z-index: 1 !important;
    margin-bottom: 130px ;
    animation: 1s backInLeft ;
}

.project-area::after{
    display: block;
    content: '';
    right: 0;
    width: 80%;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    top: -2rem;
    position: absolute !important;
    z-index: -2 !important;
    background-color: #e8dfd7;
    opacity: .5;
}

.project-area.right{
    flex-direction: row-reverse ;
    animation: 1s backInRight !important ;
}

.project-area.right::after{
    left: 0 ;
}

.p-container-image{
    display: flex ;
    width: 40% ;
    margin: 2rem !important ;
    margin-left: 0 !important ;
    overflow: hidden ;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1) ;
    position: relative ;
}

.p-container-image:before {
	content: "" ;
	float: left ;
	padding-top: 100% ;
}

.p-container-image img{
    object-fit: cover ;
    min-width:100%;
    min-height:100%;
}

.p-container-text{
    width: 60% ;
    padding: 2em 6em 2em 2em;
}

.project-area.right .p-container-image{
    margin-right: 0 !important ;
    margin-left: 2rem !important ;
}

.project-area.right .p-container-text{
    padding-right: 2em !important ;
    padding-left: 6em !important ;
}

.project-area h4{
    text-transform: uppercase ;
    letter-spacing: .1em ;
    font-size: 18px ;
    color: #656565 ;
    font-weight: normal ;
    margin: .5rem 0 ;
}

.project-area h2{
    margin : 0;
}

.project-area p{
    color : #242424 ;
    letter-spacing: .08em ;
}

.project-area button{
    text-transform: uppercase ;
    letter-spacing: .1em ;
}

.card{
    display : flex ;
    align-items: center ;
    flex-wrap: nowrap ;
    flex-direction: row-reverse ;
}

.card-image{
    position: relative ;
    width: 40% ;
    z-index: 1 ;
}

.card-image img{
    width: 100% ;
    height: auto ;
}

.card-text-container{
    width: 60% ;
    z-index: 99 ;
}

.card-text-container .card-text{
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1) ;
    background-color: #fff ;
    width: 104% ;
    padding: 40px ;
}

.card-text h1{
    margin: 0 ;
}

.card-text .action{
    color: #d63031 ;
    font-weight: bold ;
    animation: bounce 1s ;
    animation-delay: 2s ;
}

.parcours{
    width: 100%;
    max-width: 100%;
    display: grid;
    padding: 2em 0;
    row-gap: 1em;
    grid-template-columns: repeat(1,1fr);
    align-items: center ;
    grid-auto-rows: 1fr;
    margin-bottom: 50px ;
    
}

.parcours-item{
    position: relative;
    box-sizing: border-box;
    height: 100% ;
}

.p-first{
    background-color: #d4dbf9 ;
    color: #2a335a ;
    
    grid-row: 1/1;
}

.p-second{
    background-color: #c4edff ;
    color: #10465a ;

    grid-row: 2/2;
}

.p-third{
    background-color: #c4ffd2;
    color: #105a2f;
    
    grid-row: 3/3;
}


.parcours-detail>*{
    display: block ;
}

.parcours-detail .school-name{
    font-size: 18px ;
}

.parcours-detail .diploma-name{
    font-size: 15px ;
}

.parcours-date>*{
    font-size: 19px ;
    font-weight: bold ;
}

.parcours-item-content{
    box-sizing: border-box;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    height: 100% ;
}

.parcours-detail{
    box-sizing: border-box;
    max-width: 100%;
    min-width: 0;
    flex: 1;
    flex-basis: auto;
}

.parcours-date{
    box-sizing: border-box;
    max-width: 100%;
    min-width: 0;
}

@media(min-width: 992px){
    .parcours{
        grid-template-columns: repeat(15,1fr);
    }
    
    .p-first{
        grid-column: 11/span 5;
    }

    .p-second{
        grid-column: 6/span 5 ;
    }

    .p-third{
        grid-column: 1/span 5 ;
    }
}

footer{
    display: flex ;
    justify-content: space-between ;
    background-color: #9a8e84 ;
    background: linear-gradient(#c7bab6, #9a8e84) ;
    padding: 20px 30px ;
}

footer *{
    margin: 0 ;
    color: #ffffff ;
    transition: all .5s ;
}

footer a{
    letter-spacing: .5em ;
}

footer a:hover .fa{
    font-size: 18px ;
}